@import "tailwindcss";

@theme {
	--color-primary: oklch(0.705 0.213 47.604);
	--color-background: oklch(1 0 0.005);
	--color-foreground: oklch(0.141 0.005 285.823);
	--color-muted: oklch(0.967 0.001 286.375);
	--color-border: oklch(0.92 0.004 286.32);
}
