@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import 'tailwindcss';

@theme {
	--font-poppins: 'Poppins', sans-serif;

	--radius: 0.5rem;

	--color-background: oklch(20.8% 0.042 265.755);
	--color-white: oklch(98.4% 0.003 247.858);
}

body {
	@apply font-poppins;
	@apply bg-background text-white;
}
